body{
    margin: 0px;
    background-image: url('eXpresso.jpg')
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    text-align: center;
    color: white
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(268, 61%, 73%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: left;
}
h3{
    color: white;
    font-size: 20px;
}
p{
    color: white;
    font-size: 25px;
}